.memo{
  text-align: center;
  outline:100px solid #00142e;
  background-color: #00142e;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  background-color: #00142e;
}

.login {
  position: relative;
  top: 5em;
  padding: 4%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 4px solid #fff;
  background: rgba(0, 255, 240, 0.52);
  box-shadow: 0px 0px 64px 0px #82e1ff inset, 0px 0px 16px #a8fffaa6;
  backdrop-filter: blur(3.5px);
  gap: 1em;
  animation: float 2s ease-in-out infinite;
  margin-top: 100px;
}

#rays {
  z-index: 2;
  position: relative;
  bottom: -1.5em;
  animation: rays 2s ease-in-out infinite;
  fill:"none";
 /*viewBox:"0 0 299 152";*/
  height:"9em";
  width:"18em";
  /* xmlns: url("http://www.w3.org/2000/svg");*/
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 70px;
  margin-bottom: 55px;
  
}

.logo img:nth-child(1) {
  width: 90px;
}

.logo img:nth-child(2) {
  width: 270px;
}

.hidden {
  display: none;
}
.input {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 15px;
  margin-left: 45px;
}

.input input::placeholder {
  font-weight: 300;
  color: white;
  letter-spacing: 0.1rem;
  text-shadow: 0px 1px 5px rgb(66, 66, 66);
}



.input input::-ms-input-placeholder {
  color: lightgray;
}

.input label {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 8px;
  text-shadow: 0px 0px 16px rgb(243, 243, 243);
}

.input p {
  font-size: 10px;
  color: lightgray;
  font-weight: bold;
}

.input input {
  outline: none !important;
  width: 120%;
  border: 1px solid lightgray;
  border-radius: 20px;
  height: 55px;
  padding: 5px;
  box-shadow: 0 0 3px black;
}

.input input:active,
.input input:focus {
  padding: 3px solid lightgray;
  border: 4px solid #4a6484;
}

.input input[type="text"]:focus,
.input input[type="text"]:active {
  padding: 3px solid lightgray;
  border: 4px solid #4a6484;
}

/*Input Error*/

.error input {
  border: 2px solid red;
}

.error input:active,
.error input:focus {
  padding: 2px solid red !important; /*for firefox and chrome*/
}

.error input[type="text"]:focus,
.error input[type="text"]:active {
  border: 2px solid red !important;
}

.error input::placeholder {
  color: red;
  opacity: 1;
}

.error input::-ms-input-placeholder {
  color: red;
}

.error label,
.error p {
  color: red;
  display: block;
}

/*A5A5A5 placeholdre*/

.login img {
  width: 100px;
  margin-left: 120px;
}

.loginFooter {
  display: flex;
  justify-content: space-around;
  width: 380px;
  height: 300px;
}

button.btn-login {
  cursor: pointer;
  height: 3.5rem;
  padding: 0%;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.3rem;
  border: 2px solid white;
  background: linear-gradient(144deg, #2000eeb6, #15fff3 50%, #00ff95bb);
}

button.btn-login:hover {
  position: relative;
  bottom: 4px;
  background: linear-gradient(144deg, #2000eeb6, #15fff3 50%, #00ff95bb);
  box-shadow: 0px 0px 2px 2px #ffffff;
}

.general-error {
  border: 2px solid red;
}

.general-error .logo img:nth-child(1) {
  filter: hue-rotate(142deg) brightness(1.8);
}

.general-error button.btn-login {
  background: red !important;
}

.general-error button.btn-login:hover {
  background: rgb(94, 1, 1) !important;
}

.loginFooter span {
  font-family: "Century Gothic", sans-serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 20px;
  color: #353235;
  cursor: no-drop;
}


